<mat-card class="container full-height3">
    <div class="full-width full-height padding-10px border-box relative">
        <router-outlet></router-outlet>
        <mat-toolbar color="accent" class="space-between-center flex absolute bottom-0 left-0 right-0" >
            <button mat-icon-button matTooltip="Home" routerLink="/home/welcome" routerLinkActive="active-link">
                <mat-icon>home</mat-icon>
              </button>
            <button mat-icon-button matTooltip="Virtual Cards" routerLink="/home/cards" routerLinkActive="active-link">
                <span class="material-symbols-outlined">
                    id_card
                    </span>
            </button>
            <button mat-icon-button matTooltip="Message" routerLinkActive="active-link">
              <mat-icon>mail</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Profile" routerLinkActive="active-link">
                <span class="material-symbols-outlined">
                    account_circle
                    </span>
              </button>
        </mat-toolbar>
    </div>
</mat-card>