<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisNode" path="server.js" verb="*" modules="iisNode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>
        <!-- Redirect all requests to index.html -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="/server.js" />
        </rule>
      </rules>
    </rewrite>
    <!-- Set limits and configurations -->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648" /> <!-- 2GB limit for requests -->
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
