<mat-card class="container full-height">
    <div class="full-width padding-10px border-box">       
            <span class="material-symbols-outlined padding-10px border-box round border1" (click)="goBack()">
            arrow_back
            </span>
        <div class="center-center flex">
            <h3><u>Complete Profile</u></h3>
        </div><br>
        <div class="center-center flex">
            <h3 class="no-margin"><u>Authentication & Authorization</u></h3>
        </div>

    <div class="flex center-center">
        <p>To complete your profile we must verify all your information, please also complete:</p>
    </div>
    <div class="center-center flex row full-width">
       <app-signature *ngIf="showSignature" [hideSignature] = "showSignature" (newItemEvent)="handleEvent($event)" (newSignature)="handleEvent2($event)"></app-signature>
    </div>
    <div class="row flex full-width gap-05em font-s content-center text-center2" *ngIf="showingMenu">
       <div class="column gap-05em" >
        <label for="upload">
        <mat-card class="text-center2 padding-10px pointer changeHover" (click)="uploadFile()" id="card1">
            <span class="material-symbols-outlined">
                person
                </span>
                <input type="file" id="upload" hidden>
            <label for="upload" class=" no-margin pointer"><strong>Upload Portrait</strong></label>
        </mat-card>
    </label>
        <span id="file-choosen">{{fileName}}</span>
       </div>
        <div class="column gap-05em">
            <mat-card class="text-center2 padding-10px changeHover" id="card2">
                <span class="material-symbols-outlined">
                    fingerprint
                    </span>
                <h4 class=" no-margin"><strong>Take Fingerprint</strong></h4>
            </mat-card>
            <span>No Fingerprint</span>
        </div>
        <div class="column gap-05em">
            <mat-card class="text-center2 padding-10px pointer changeHover" (click)="hideSignature()" id="card3">
                <span class="material-symbols-outlined">
                    signature
                    </span>
                <h4 class=" no-margin"><strong>Take Signature</strong></h4>
            </mat-card>
            <span>{{element}}</span>
        </div>
        
    </div><br>
    <div>
        <mat-checkbox (change)="check()">Do you own drivers License?</mat-checkbox>
    </div>
    <form [formGroup]="profileForm" *ngIf="checked">
        <div class="flex row gap-1em complete">
            <mat-form-field class="full-width">
                <mat-label>License Number</mat-label>
                <input type="text" matInput formControlName="licenseNumber" placeholder="43245234GJ4U" maxlength="12">
                <mat-error *ngIf="profileForm.controls['licenseNumber'].hasError('required')">
                  License Number is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Enter valid From Date:</mat-label>
                <mat-date-range-input [rangePicker]="rangePicker">
                  <input matStartDate placeholder="Start date" [formControl] ="startDate">
                  <input matEndDate placeholder="End date" [formControl] ="endDate">
                </mat-date-range-input>
                <mat-datepicker-toggle matIconSuffix [for]="rangePicker"></mat-datepicker-toggle>
                <mat-date-range-picker #rangePicker></mat-date-range-picker>
                <mat-error *ngIf="startDate.hasError('required') || endDate.hasError('required')">
                    Valid Date is <strong>required</strong>
                  </mat-error>
              </mat-form-field>
        </div>
        <div class="flex row gap-1em complete">
            <mat-form-field class="full-width">
                <mat-label>Issued</mat-label>
                <input type="text" matInput formControlName="issued" placeholder="ZA" readonly>
                <mat-error *ngIf="profileForm.controls['issued'].hasError('required')">
                  Issued Date is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Code</mat-label>
                <mat-select formControlName="code">
                  <mat-option *ngFor="let code of codes" [value]="code">{{code}}</mat-option>
                </mat-select>
                <mat-error *ngIf="profileForm.controls['code'].hasError('required')">
                    Code is <strong>required</strong>
                  </mat-error>
              </mat-form-field>
        </div>
        <div class="flex row gap-1em complete">
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Vehicle Restriction</mat-label>
                <mat-select formControlName="vehicleRestriction">
                  <mat-option *ngFor="let number of numbers" [value]="number">{{number}}</mat-option>
                </mat-select>
                <mat-error *ngIf="profileForm.controls['vehicleRestriction'].hasError('required')">
                    Vehicle Restriction is <strong>required</strong>
                  </mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Enter First Issue Date</mat-label>
                <input matInput [matDatepicker]="datepicker" formControlName = "firstIssued">
                <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                <mat-datepicker #datepicker></mat-datepicker>
                <mat-error *ngIf="profileForm.controls['firstIssued'].hasError('required')">
                    First Issued Date is <strong>required</strong>
                </mat-error>
              </mat-form-field>
        </div>
    </form>
    <div class="flex center-center">
        <button mat-raised-button color="accent" class=" black full-width border-radius-20px" (click)="complete()" [disabled]="valid1 || valid2">
            Complete Profile
        </button>
    </div>
    </div><br>
</mat-card>

