<mat-card class="container full-height3">
    <div class="full-width padding-10px border-box">       
            <span class="material-symbols-outlined padding-10px border-box round border1" (click)="goBack()">
            arrow_back
            </span>
        <div class="center-center flex">
            <h3><u>Registration</u></h3>
        </div>
        <form [formGroup]="registrationForm">
            <div class="flex row gap-1em">
                <mat-form-field class="full-width">
                    <mat-label>Full Name</mat-label>
                    <input type="text" matInput formControlName="fullForeName" placeholder="Joe Middle">
                    <mat-error *ngIf="registrationForm.controls['fullForeName'].hasError('required')">
                      Full Name is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field class="full-width">
                    <mat-label>lastName</mat-label>
                    <input type="text" matInput formControlName="lastName" placeholder="Doe">
                    <mat-error *ngIf="registrationForm.controls['lastName'].hasError('required')">
                      Last Name is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
            </div>
            <mat-form-field class="full-width">
                <mat-label>idNumber</mat-label>
                <input type="text" matInput formControlName="idNumber" placeholder="*************" maxlength="13" (blur)="IdValid()">
                <mat-error *ngIf="registrationForm.controls['idNumber'].hasError('required')">
                  ID is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="registrationForm.get('idNumber')?.hasError('minlength')">
                    ID Number must be 13 digits long!!
                  </mat-error>
              </mat-form-field>
              <div class="flex row gap-1em goWrap">
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Date Of Birth</mat-label>
                    <input matInput type="string" formControlName="dateOfBirth"
                        [value]="(year && month && day) ? year + '/' + month + '/' + day : ''" readonly>
                    <mat-error *ngIf="registrationForm.get('dateOfBirth')?.hasError('required')">
                        Date Of Birth is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Citizenship</mat-label>
                    <input type="text" matInput formControlName="citizenship" placeholder="South African"
                        [value]="citizen" readonly>
                    <mat-error *ngIf="registrationForm.get('citizenship')?.hasError('required')">
                        Citizenship is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Gender</mat-label>
                    <input type="text" matInput formControlName="gender" placeholder="Male/Female"
                        [value]="gender" readonly>
                    <mat-error *ngIf="registrationForm.get('gender')?.hasError('required')">
                        Gender is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <mat-form-field class="full-width">
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="email" placeholder="Ex. joe@email.com">
                <mat-error *ngIf="registrationForm.controls['email'].hasError('email') && !registrationForm.controls['email'].hasError('required')">
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="registrationForm.controls['email'].hasError('required')">
                  Email is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <div class="flex gap-1em">
                <mat-form-field appearance="fill" class="full-width">
                  <mat-label>Create Password</mat-label>
                  <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName = "password">
                  <mat-icon matSuffix (click) = "show()">{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
                  <mat-error *ngIf="registrationForm.get('password')?.hasError('required')">
                    Password is <strong>required</strong>
                </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="full-width">
                  <mat-label>Confirm Password</mat-label>
                  <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName = "confirmPassword">
                  <mat-icon matSuffix (click) = "show()">{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
                  <mat-error *ngIf="registrationForm.get('confirmPassword')?.hasError('required')">
                    Confrim Password is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="registrationForm.get('confirmPassword')?.hasError('pattern')">
                    Your password doesn't match!
                </mat-error>
                </mat-form-field>
              </div>
              <div class="flex center-center">
                <button mat-raised-button class="green-bg white full-width border-radius-20px" (click)="register()">
                    Register
                </button>
            </div>
        </form>
        
    </div><br>
</mat-card>
