<mat-card class="container full-height3">
    <div class="full-width padding-10px border-box">       
            <span class="material-symbols-outlined padding-10px border-box round border1" (click)="goBack()">
            arrow_back
            </span>
        <div class="center-center flex">
            <h3><u>Login</u></h3>
        </div>
        <form [formGroup]="loginForm">
            <mat-form-field class="full-width">
                <mat-label>Enter Your ID Number</mat-label>
                <input type="text" matInput formControlName="idNumber" placeholder="*************" maxlength="13">
                <mat-error *ngIf="loginForm.controls['idNumber'].hasError('required')">
                  ID is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="loginForm.get('idNumber')?.hasError('minlength')">
                    ID Number must be 13 digits long!!
                  </mat-error>
            </mat-form-field>
    
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Enter Password</mat-label>
                <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName = "password">
                <mat-icon matSuffix (click) = "show()">{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
                <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
                  Password is <strong>required</strong>
              </mat-error>
              </mat-form-field>
        </form>

          <span class="end-end flex">
            <a routerLink="#">Forgot Password</a>
          </span><br>

          <div class="flex center-center">
            <button mat-raised-button class="gold-bg full-width border-radius-20px" (click)="login()">
                Login
            </button>
        </div>
        
    </div><br>
</mat-card>

