<h4>Please Add your signature here</h4>
<canvas
  #canvas
  (touchstart)="startDrawing($event)"
  (touchmove)="moved($event)"
  height="200"></canvas>
<mat-error *ngIf="signatureNeeded">Signature is <strong>required</strong></mat-error>

<div class="flex gap-1em">
  <div class="full-width">
    <button mat-fab extended class="red-bg white padding-10px border-box full-width" (click)="clearPad()">Clear</button>
  </div>
  <div class="full-width">
    <button mat-fab extended class="green-bg white padding-10px border-box full-width" (click)="savePad()">Submit Signature</button>
  </div>
</div>

<div *ngIf="signatureNeeded === false">
  <p>Signature in Base64Encoded Format</p>
  <img src="{{ signatureImg }}" alt="" srcset="" />
</div>

